.home-testimonial {
	padding: 0 0 16px;

	h3 {
		color: #004e80;
	}

	.testimonial-col-1, .testimonial-col-2 {
		padding-top: 12px;
	}

	.testimonial-col-1 {
		li {
			padding: 4px 0 0 24px;
			position: relative;
		}

		i {
			position: absolute;
			top:8px;
			left: 0;
		}

		span {
			font-size: 18px;
		}
	}

	.testimonial-col-2 {
		.testimonial-wrap {
		    margin: 10px 4px 0;
		}

		.owl-testimonial {
			.owl-item {
			    font-size: 16px;
			    padding:0 10px 0 0;
			}

			.item {
				p {
					font-style: italic;
					background: #FFFFFF;
					border-radius: 10px;
					padding: 10px;
				}

				p:before, p:after {
					content: "\"";
				}

				span {
					display: inline-block;
					float: right;
					position: relative;
					margin-right: 12px;

					i.icn-user-circle {
						position: absolute;
						top: 0;
						left: -26px;
					}

					i.testimonial-arrow {
						width: 0; 
						height: 0; 
						border-left: 8px solid transparent;
						border-right: 8px solid transparent;

						border-top: 8px solid #FFFFFF;
						position: absolute;
						top: -10px;
						right: 28px;
					}
				}
			}

			.owl-controls {
				position: absolute;
    			top: -36px;
				right: 0;

				.owl-buttons {
					position: relative;
				}

				.owl-prev, .owl-next {
					background-color: #f2f2f2;
					display: inline-block;
					text-align: center;
					border-radius: 50%;
					color: #004e80;
					padding: 2px;
					height: 28px;
					margin: 0 10px 0 0;

					i {
						font-size: 36px;
						display: inline-block;
						height: 18px;
						width: 24px;
						padding: 3px 0 0;
					}
				}

				.owl-prev:hover, .owl-next:hover {
					opacity: .8;
				}
			}
		}
	}
}

@media (max-width: 420px) {
	.testimonial-col-2 {
		.owl-controls {
			display: none !important;
		}
	}
}