<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="thiennhantravel" />
    <link rel="stylesheet" href="/Assets/css/TN.homepage.css?v=0.0.0.1" />
    <script type="text/javascript">

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.7&appId=520198991502631";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
</head>
<body data-page="homepage" class="homePage">
    <div id="fb-root"></div>
    <!-- BEGIN HEADER -->
    <header>
        <div class="container">
            <a class="site-logo" href="index.html" title="">
                <i class="icons icons-logo"></i>
            </a>
            <a href="javascript:;" class="mobi-toggler menu-toggle hover-opacity-8">
                <i class="sprites icn-menu-list"></i>
            </a>
            <!-- BEGIN HOTLINE -->
            <ul class="hotline pull-right">
                <li><a class="hotline" href="tel:0973 506 977">0973 506 977</a></li>
                <li>từ 7h30-21h hàng ngày</li>
                <li class="menu-search hover-opacity-8" data-toggle="tooltip" data-placement="left" title="Tìm kiếm tour">
                    <a href="javascript:;">
                        <i class="sprites icn-menu-search"></i>
                    </a>
                </li>
                <li class="menu-phone sprites icn-menu-phone"></li>
                <li class="menu-arrow sprites icn-menu-arrow"></li>
            </ul>
            <!-- END HOTLINE -->
            <!-- BEGIN NAVIGATION -->
            <div class="header-navigation pull-left font-transform-inherit">
                <ul>
                    <li class="active">
                        <a href="#" class="">
                            Trang chủ
                        </a>
                    </li>
                    <li>
                        <a href="#" class="">
                            Tour
                        </a>
                    </li>
                    <li>
                        <a href="#" class="">
                            Khách sạn
                        </a>
                    </li>
                    <li>
                        <a href="#" class="">
                            Cẩm nang du lịch
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle menu-more" data-toggle="dropdown" href="javascript:;">
                            <i class="sprites icn-menu-threedots"></i>
                        </a>
                        <ul class="dropdown-menu bullet">
                            <li><a href="">Giới thiệu</a></li>
                            <li><a href="">Hỏi đáp</a></li>
                            <li><a href="">Hỗ trợ</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- END NAVIGATION -->

        </div>
    </header>
    <!-- END HEADER -->
    <!-- BEGIN HOME SLIDER  -->
    <div class="home-slider">
        
        
       
    </div>
    <!-- END HOME SLIDER -->

    <!-- BEGIN HOME SEARCH -->
    <div class="home-search">
        <div class="container">
            <div class="searchtxt col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="txtshadow">Đặt tour với giá tốt nhất!</h1>
                <h4 class="txtshadow">Hơn 5.000 tour ở Việt Nam</h4>
            </div>
            <div class="searchbox col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="searchbox-wrap clearfix">
                    <form action="" method="POST">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <ul>
                                <li class="font-size-12 font-bold lbl-search">Tìm nhanh tour</li>
                                <li>
                                    <input type="text" id="search-home-text" name="search-home-text" placeholder="Nhập tên tour ,địa điểm" class="loading " />
                                    <div class="search-autocomplete clearfix" id="homepage-search-autocomplete">
                                        <div class="autocomplete-wrap">
                                            <div class="title">Tour trong nước</div>
                                            <div class="item-place">
                                                <a href="javascript:;"> Đà lạt</a>
                                                <span><b>10</b>tour</span>
                                            </div>
                                            <div class="item-place">
                                                <a href="javascript:;">Nha trang</a>
                                                <span><b>2</b>tour</span>
                                            </div>
                                            <div class="item-place">
                                                <a href="javascript:;">Phú quốc</a>
                                                <span><b>12</b>tour</span>
                                            </div>
                                            <div class="title">Tour quốc tế</div>
                                            <div class="item-place">
                                                <a href="javascript:;">Lào</a>
                                                <span><b>12</b>tour</span>
                                            </div>
                                            <div class="item-place">
                                                <a href="javascript:;">Campuchia</a>
                                                <span><b>12</b>tour</span>
                                            </div>
                                            <div class="item-place">
                                                <a href="javascript:;">Mỹ</a>
                                                <span><b>12</b>tour</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-2 col-lg-2">
                            <ul>
                                <li class="font-size-12 font-bold lbl-search">Ngày đi</li>
                                <li class="date-home-checkin">
                                    <input type="text" id="datepicker-home-chkin" name="datepicker-home-chkin" class="datepicker-chkin" value="" />

                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-2 col-lg-2">
                            <ul>
                                <li class="font-size-12 font-bold lbl-search">Giá</li>
                                <li class="date-home-checkin">
                                    <select>
                                        <option value="0">Từ 0 -> 5 triệu </option>
                                        <option value="1">Từ 5 triệu -> 10 triệu </option>
                                        <option value="2">Từ 10 triệu -> 20 triệu </option>
                                        <option value="3">Từ 20 triệu trở lên </option>
                                    </select>


                                </li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            <ul>
                                <li class="font-size-12">&nbsp;</li>
                                <li><input type="submit" value="TÌM KIẾM" class="btn-orange bdr-orange font-bold"></li>
                            </ul>
                        </div>
                    </form>
                    <i class="sprites icn-plane"></i>

                </div>
            </div>
        </div>
    </div>
    <!-- END HOME SEARCH -->
    @RenderBody()
    <!-- BEGIN FOOTER  -->
    <footer class="homePageFooterDiv">
        <div class="container">
            <div class="foot-col-9 col-xs-12 col-sm-12 col-md-12 col-lg-6 h-padding-top-40">
                <div class="fb-page" data-href="https://www.facebook.com/Thi&#xea;n-Nh&#xe2;n-Travel-544195269032070/" data-width="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Thi&#xea;n-Nh&#xe2;n-Travel-544195269032070/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Thi&#xea;n-Nh&#xe2;n-Travel-544195269032070/">Thiên Nhân Travel</a></blockquote></div>

            </div>
            <div class="foot-col-6 col-xs-12 col-sm-12 col-md-6 col-lg-4 h-margin-top-40">
                <ul>
                    <li class="foot-call">Bạn cần trợ giúp? Hãy gọi ngay</li>
                    <li class="foot-fone">CSKH:&nbsp;<a href="tel:0839308290">0973 506 977</a></li>
                    <li class="foot-fone">Khác:&nbsp;&nbsp;<a href="tel:0839308291">0973 506 977</a></li>
                    <li class="foot-time">từ 7h30 - 21h hằng ngày</li>
                </ul>
            </div>
            <div class="foot-col-1 col-xs-12 col-sm-6 col-md-3 col-lg-2">
                <ul>
                    <li><h3>Thiennhantravle.com</h3></li>
                    <li><a href="">Giới thiệu</a></li>
                    <li><a href="">Truyền thông</a></li>
                    <li><a href="">Liên hệ</a></li>
                    <li><a href="">Phản hồi</a></li>
                </ul>
            </div>
        </div>
        <div class="container">

            <div class="foot-col-7 col-xs-12 col-sm-12 col-md-6 col-lg-12 address-footer">
                <ul>

                    <li>
                        <i class="glyphicon glyphicon-map-marker vcolor-gray fixGlyphicon"></i>
                        <b>Trụ sở chính:</b> 14/D12 -Tổ 4 - Khu phố Lâm Viên - Phường 9 - TP Đà Lạt – Lâm Đồng (<a href="javascript:;" class=" font-size-14 call-modal-map" data-lat="10.77866733006275" data-lng="106.69041095396733">Xem bản đồ</a>)
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-map-marker vcolor-gray fixGlyphicon"></i>
                        <b>Đà Lạt:</b> Số 42 - Quang Trung - Phường 9 – TP. Đà Lạt – Tỉnh Lâm Đồng (<a href="javascript:;" class=" font-size-14 call-modal-map" data-lat="21.0202535" data-lng="105.84974699999998">Xem bản đồ</a>)
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-map-marker vcolor-gray fixGlyphicon"></i>
                        <b>HCM:</b>Số 6 – Mạc Đỉnh Chi – Phường Bến Nghé – Quận 1 – TP.Hồ Chí Minh (<a href="javascript:;" class=" font-size-14 call-modal-map" data-lat="21.0202535" data-lng="105.84974699999998">Xem bản đồ</a>)
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-map-marker vcolor-gray fixGlyphicon"></i>
                        <b>Vinh:</b>Tầng 4, Tòa nhà Mai Linh – Đường Xô Viết Nghệ Tĩnh – Nghi Phú – TP Vinh – Nghệ An (<a href="javascript:;" class=" font-size-14 call-modal-map" data-lat="21.0202535" data-lng="105.84974699999998">Xem bản đồ</a>)
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
    <!-- bat dau js -->
    <!-- jquery -->
    <script src="/Assets/js/jquery/jquery-3.1.0.min.js"></script>
    <!-- end jquery -->
    <!-- bootstrap -->
    <script src="/Assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="/Assets/js/bootstrap/bootstrap-datepicker.js"></script>
    <!-- ket thuc bootstrap -->
    <!-- function -->
    <script src="/Assets/js/homepage/homepage.js"></script>
    <!-- end function -->
    <!-- ket thuc js -->
</body>
</html>
