/*Responsive*/
/*----------*/
@media screen and (max-width:1300px){ 
	.main-content{width:100%;}
	
}
@media screen and (max-width:1093px){ 
	.main-content{width:100%;}
}


/*smaller then 1024*/
@media screen and (max-width:1024px){
    .main-content{width:100%;}
}

/*May tinh bang chieu dung
smaller than 770
*************************************************************************************/
@media screen and (max-width: 800px) {
	.main-content, .tour-search, .tour-content, .single-content, .sidebar-detail, .service-page, .service-sidebar, .each-services .col-xs-3, .each-services .col-xs-9, .page-content, .page-sidebar{width:100% !important;}
    .tour-quick-locate{display:none;}
    .each-tour{
        .col-xs-3, .col-xs-9{width:100% !important; padding-left: 0 !important;}
        h3, h2{padding-top: 10px;}
    }
    .each-services{
        .col-xs-9{ padding-left: 0 !important; }
        h2{padding-top: 10px;}
    }
    .quick-location ul li{width:50% !important;}
    .page-sidebar{margin-top: 15px;}
}
/************************************************************************************
smaller than 580
*************************************************************************************/
@media screen and (max-width: 625px) {	
	.ref-tour .ref-tour-part, .dvdikemctr .col-xs-4{width:100% !important; }
    .single-tour-info span{display:block;}
    .ref-tour .ref-tour-part, .page-sidebar{margin-top: 15px;}
}

/************************************************************************************
smaller than 490
*************************************************************************************/
@media screen and (max-width: 505px) {
	.ref-tour .ref-tour-part, , .dvdikemctr .col-xs-4{width:100% !important; }
    .single-tour-info span{display:block;}
    .ref-tour .ref-tour-part, .page-sidebar{margin-top: 15px;}
}
/************************************************************************************
smaller than 360
*************************************************************************************/
@media screen and (max-width: 375px) {
	
}
@media screen and (max-width: 320px) {
	
}
