body{
   background: #F1F1F1 !important;
}
li{list-style: none;}
.clear{clear:both;}
.norow{margin-left:0 !important; margin-right:0 !important;}
.main-content{width:1200px; margin:auto;}
.nopadding{padding-left: 0 !important; padding-right: 0 !important;}
.nopadleft{padding-left: 0 !important;}
.nopadright{padding-right: 0 !important;}
.thumb img{max-width: 100%; display:block; margin:auto;}
.nomartop{margin-top: 0 !important;}
.single-title{ font-size:27px; padding:10px; font-weight: bold; }
.single-tour{ background: #fff;
    h3{padding:0 10px;}
    .single-tour-info, .single-tour-content{padding:10px;}
    .single-tour-info span{padding:3px 30px 3px 0; font-size:15px;}
    .single-tour-content{font-size:16px;}
}
.fixp{position:fixed; top:0; width: 385px;}
.price-tour{ background: #940408; color:#fff; padding:10px;
    label{font-weight: normal;}
    h2{
        strong{font-size:25px;}
        span{font-size:18px;}
    }
    .form-group{margin-top: 15px;}
    .col-xs-9 i{position: absolute; top:10px; right:10px; color: #940408;}
    .dattour{background: #FECA0A; display: block; color:#777; padding:10px; text-align: center;  text-decoration: none; font-size: 18px;
        &:hover{color:#111; cursor:pointer;}
    }
}
.quick-view{ background: #fff; padding-top:30px; font-size:16px; text-transform: uppercase;
    li{display: block; padding:10px; border-bottom: 1px solid #eee; cursor: pointer;
        &:hover, &.active{border-bottom: #940408 1px solid; color:#940408;}
    }
}